<nav class="navbar navbar-expand-lg bg-light">
    <%= link_to root_path, {'class': 'navbar-brand p-0'} do %>
        <%= image_tag("rails.jpeg", { 'width': 35, 'height': 35, 'alt': 'ruby on rails'}) %>
    <% end %>

    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mx-auto py-0">
            <%= link_to "home", root_path, {class: "nav-link", 'aria-current': "page" } %>
            <%= link_to "about", root_path, {class: "nav-link", 'aria-current': "page" } %>
            <%= link_to "overview", root_path, {class: "nav-link", 'aria-current': "line" } %>
            <%= link_to "features", root_path, {class: "nav-link", 'aria-current': "line" } %>
            <%= link_to "pricing", root_path, {class: "nav-link", 'aria-current': "line" } %>
            <%# link_to "testimonial", root_path, {class: "nav-link", 'aria-current': "line" } %>
            <%= link_to "contact", root_path, {class: "nav-link", 'aria-current': "line" } %>
        </div>

        <div class="navbar-nav gap-3">
            <% if user_signed_in? %>
                <%= link_to current_user.email, edit_user_registration_path, class: 'current-user' %>
                <%= button_to "Logout", destroy_user_session_path, class: "dropdown-item #{user_signed_in? ? '' : 'disabled'}", method: :delete %>
            <% else %>
                <%= link_to 'Signup', new_user_registration_path, { class: "nav-link"  } %>
                <%= link_to "Login", new_user_session_path, { class: "btn btn-light d-none d-lg-block" } %>
            <% end %>
        </div>

        <%# link_to 'edit password', edit_user_password_path %>
        <%# link_to 'reset password', reset_user_password_path %>
        <button class="btn btn-"></button>
    </div>
</nav>
